* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: blue;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: yellow;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: #f5ba13;
  border: none;
  width: 60px;
  height: 36px;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.addnote-btn {
  position: absolute;
  left: 400px;
  bottom: -40px;
  cursor: pointer;
  background: #f5ba13;
}

.inputChangeContent {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 5px;
}
.btnNote {
  margin-left: 10px;
  margin-top: 10px;
}
.btnNote:hover {
  margin-left: 10px;
  margin-top: 10px;
  background: black;
  color: white;
}
.colorPickerSize {
  width: 210px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
